/* Simple reset*/
/* ---------------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

header, footer, section, article, nav, menu, figure, figcaption, aside, hgroup {
  display: block;
}

/* ---------------------------------------------------------- */
/* Media definers */
/* ---------------------------------------------------------- */
.max-width-media {
  max-width: 100%;
  _width: 100%;
}

/* ----------------------------------------------------------- */
/* Global styles */
/* ----------------------------------------------------------- */
body {
  color: #555555;
  font-variant-ligatures: contextual;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
}

a {
  color: #d93b18;
  word-wrap: break-word;
}
a:hover, a:focus, a:active {
  color: #319c95;
}

::-moz-selection {
  color: #fff;
  background: #d93b18;
}

::selection {
  color: #fff;
  background: #d93b18;
}

/* ---------------------------------------------------------- */
/* Typography */
/* ---------------------------------------------------------- */
.serif, body {
  font-family: Georgia, serif;
}

.sans {
  font-family: Arial, sans-serif;
}

p, li {
  hyphenate: auto;
  hyphenate-lines: 3;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  hyphenate-character: "-";
  hyphenate-limit-chars: auto 3;
  hyphenate-limit-last: page;
}

strong, b {
  font-weight: 600;
}

em, i, q {
  font-style: italic;
}

html[lang="en-GB"] blockquote {
  quotes: "\2018" "\2019";
}

html[lang="en-US"] blockquote {
  quotes: "\201C" "\201D";
}

blockquote {
  display: block;
}
blockquote p {
  display: inline;
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}

/* ----------------------------------------------------------- */
/* Page styles */
/* ----------------------------------------------------------- */
.clearfix, section {
  *zoom: 1;
}
.clearfix:after, section:after {
  content: "";
  display: table;
  clear: both;
}

/* ----------------------------------------------------------- */
/* Forms */
/* ----------------------------------------------------------- */
form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

label {
  display: block;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

legend {
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  display: block;
  vertical-align: baseline;
  *vertical-align: middle;
  /* IE7 and older */
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button, input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ----------------------------------------------------------- */
/* Image manipulations */
/* ----------------------------------------------------------- */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
}
