@import "compass/css3";
@import "compass/utilities";

//-----------------------------------------------------------
// Global variables, extends and mixins
//-----------------------------------------------------------

// Colours
$text			: #555;
$link			: #D93B18;
$link-respond	: #319C95;


/* ---------------------------------------------------------- */
/* Media definers */
/* ---------------------------------------------------------- */

.max-width-media { max-width: 100%; _width: 100%; }


// ---------------------------------------------------------- //
// Typography
// ---------------------------------------------------------- //


// Hyphens 
@mixin hyphen {
	hyphenate: auto; 
	hyphenate-lines: 3;  
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
	hyphenate-character: "-"; 
	hyphenate-limit-chars: auto 3; 
	hyphenate-limit-last: page; 
}

// Advanced typography settings
@mixin advancedtype {
	//font-synthesis: none; 						// Don't allow the font to create sythetic bold/italic
	font-variant-ligatures: contextual;  			// Set the default for ligatures
	//-moz-font-feature-settings: "liga=1,dlig=1";
	//-webkit-font-smoothing: antialiased; 			// Improve (or in some cases royally fuck) safari's legibility somewhat
	font-kerning: normal; 							// Set the default for kerning
	text-rendering: optimizeLegibility; 			// Improve kerning pairs
	-webkit-text-size-adjust:none; 					// Stop iPhone from scaling text upwards
}

// Blockquotes, per language style - hat tip http://thatcoolguy.github.com/gridless-boilerplate/
@mixin blockquotes {
	// English UK
	html[lang="en-GB"] blockquote { 
		quotes:"\2018" "\2019"; 
	}
	// English US
	html[lang="en-US"] blockquote { 
		quotes:"\201C" "\201D"; 
	}
	blockquote {
		display:block;
		p {
			display:inline;
		}
		&:before {
			content: open-quote; 
		}
		&:after {
			content: close-quote; 
		}
	}
}

// List styles
@mixin unordered {
	 list-style-position: outside; 
	 list-style-type: disc;
}

@mixin ordered {
	list-style-position: outside; 
	list-style-type: decimal;
}


//-----------------------------------------------------------
// Transitions
//-----------------------------------------------------------

@mixin color_transition {
	@include transition-property(color); 
	@include transition-duration(0.3s); 
	@include transition-timing-function(ease-in-out);
}