/* Simple reset*/
/* ---------------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
th { text-align: left;}
//tr, th, td { padding-right: 1.625em; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
header, footer, section, article, nav, menu, figure, figcaption, aside, hgroup { display: block; }


// Import mixins
@import "mixins";

/* ----------------------------------------------------------- */
/* Global styles */
/* ----------------------------------------------------------- */

html {
	
}

body { 
	@extend .serif;
	color:$text;
	@include advancedtype;
}


a {
	color:$link;
	// @include color_transition;
	word-wrap:break-word; // Break long links over several lines if needed
	&:hover, &:focus, &:active {
		color:$link-respond;
	}
}

::-moz-selection { color:#fff; background:$link; }
::selection { color:#fff; background:$link; }

/* ---------------------------------------------------------- */
/* Typography */
/* ---------------------------------------------------------- */

// Text type
.serif { font-family: Georgia, serif; }
.sans { font-family: Arial, sans-serif; }


p, li { @include hyphen; }
strong, b { font-weight:600; }
em, i, q { font-style:italic; }

// Import blockquote styles
@include blockquotes; 


/* ----------------------------------------------------------- */
/* Page styles */
/* ----------------------------------------------------------- */

.clearfix { @include pie-clearfix; }

section {
	@extend .clearfix;
}

/* ----------------------------------------------------------- */
/* Forms */
/* ----------------------------------------------------------- */

@import "forms"; // Import form styles


/* ----------------------------------------------------------- */
/* Image manipulations */
/* ----------------------------------------------------------- */

img { 
	border: 0; 
	-ms-interpolation-mode: bicubic; 
	image-rendering: optimizeQuality;
}